<div id="titulo"><p>Minicterio de Turismo</p></div>
<div class="encabezado">
<ul class="nav  justify-content-center">
  
  <li class="nav-item">
    <a class="nav-link" id="ini"aria-current="page" routerLink="inicio">INICIO</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ZONA CENTRAL</a>
    <ul class="dropdown-menu">
      
      <li><a class="dropdown-item" routerLink="s">ZONA CENTRAL</a></li>
      <li><a class="dropdown-item" routerLink="">ZONA OCCIDENT</a></li>
      <li><a class="dropdown-item" href="#">ZONA ORIENTAL</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ZONA OCCIDENTAL</a>
    <ul class="dropdown-menu">
      
      <li><a class="dropdown-item" routerLink="">ZONA CENTRAL</a></li>
      <li><a class="dropdown-item" href="#">ZONA OCCIDENTAL</a></li>
      <li><a class="dropdown-item" href="#">ZONA ORIENTAL</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">ZONA ORIENTAL</a>
    <ul class="dropdown-menu">
      
      <li><a class="dropdown-item" routerLink="">ZONA CENTRAL</a></li>
      <li><a class="dropdown-item" href="#">ZONA OCCIDENTAL</a></li>
      <li><a class="dropdown-item" href="#">ZONA ORIENTAL</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="ini" routerLink="form">CONTACTENOS</a>
  </li>
</ul>
</div>
<router-outlet></router-outlet>
<footer class="footer">
  <p>Univerdad Don Bosco</p>
</footer>

