body{
    background-color: #7A87C2;
}
.divmapa{

    margin: auto;
    position: absolute;
    left: 25%;
    bottom: 25%;
}

.divmapa path{
    fill: #7AA3B4;
    stroke: white;
    stroke-width: 2px;
}

.divmapa :hover{
    fill: #81C9CC;
}

.footer{
    background-color: #212529;
    padding: .5rem .8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    padding: 5px;
    }
    footer p{
        text-align: center;
        color: white;
        padding: 25px;
        font-size: 15px;
    }
    .footer img{
        width: 65px;
        padding: 10px;