body{
    background-color: #7ED9D9;
}
.divmapa{
    position:static;
    margin-top: 5%;
   margin-left: 25%;
}
 .wrapper{
    position:static;
 }

.divmapa path{
    fill: #7AA3B4;
    stroke: black;
    stroke-width: 2px;
}

.divmapa :hover{
    fill: #81C9CC;
}

/*ZONA Occidental*/

#SV-AH, #SV-SA, #SV-SO{
    fill: #F8F297;
}

/*ZONA CENTAL*/


#SV-CU, #SV-PA, #SV-LI, #SV-SS, #SV-CH, #SV-CA, #SV-SV{
    fill: #3C74EB;
}
    


/*ZONA-ORIENTAL*/

#SV-SM, #SV-MO, #SV-US, #SV-UN{
fill: #1DF055;
}
